# SPM
.build/
.swiftpm/
*.resolved

# Xcode
xcuserdata/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/swiftpm/Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/

# macOS
.DS_Store
**/.DS_Store

# CI artifacts
release_notes.md
